@charset "UTF-8";

@media(max-width: 700px){

img{
	max-width: 100%;
	height: auto;
}
}

/*

*{
	outline: 0.5px solid red;
}
*/

:root{
	--color-b: #afeeee;/*水色*/
	--color-y: #ffff66;/*黄色*/
}

html{
	font-size: 16px;
}


img{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
		box-shadow: 7px 0 7px #afeeee; 

}

.wrapper{
	width: 100%;
	height: auto;
	max-width: 900px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: #0f0fff;
}

.head{
	background-color: var(--color-y);
}

header{
	position:relative;
	/*background:linear-gradient(to right,#afeeee,transparent);*//*水色*/
	background:linear-gradient(to right,var(--color-b),transparent);
	z-index: 0;
}

header h1{
	padding: 20px 50px;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: 1px 2px 3px #808080;
}

header p,li{
	font-size: 1.25rem;
}

header p{
	margin: 20px 50px;
	font-size: 1.25rem;
	font-weight: bold;

}

nav ul{
	display: flex;
	justify-content:flex-end;
	font-size: 1.125rem;
}

nav ul li{
	margin:10px 20px;

}

ul li a:hover{
			text-shadow: 0 0 6px #ff00ff;
			/*text-shadow:5px  0.5px #ff0000;これもいい*/

}

main{
	background-image: url('../images/stardust_30.jpg');
	background-size: 50%;
	padding-bottom: 50px;
}

h2{

	margin: 50px 80px;
	font-size: 1.5625rem;
	position:relative;
	padding:0.2em 0.5em;
	background:linear-gradient(to right,var(--color-b),transparent);/*水色*/
}

h3{
	margin:40px 50px;
	background:#defcf9; /*薄い水色*/
	box-shadow: 0px 0px 0px 5px #defcf9;
	border:dashed 3px white;
	padding:0.5em; /*上下左右の余白*/
}

/*以下フッターーーーーーー*/
.foot{
	background-color: var(--color-y);
	
}
footer{
	text-align: center;
		position:relative;
	background:linear-gradient(to right,var(--color-b),transparent);/*水色*/

}
footer ul{
	padding: 20px 0;
}

footer li{
	display: inline-block;
	padding: 5px 20px;
}

footer p{
	padding:10px 0;
	
}


