@charset "UTF-8";

/*----------common_spcss---------------*/
@media(max-width: 700px){
}


.wrapper{
	width: 100%;
	height: auto;
	text-align: center;
}

header{
	margin: 0;
	/*padding: 20px;*/
}
header p{
	margin-bottom:30px;
	font-size: 0.875rem;
}


nav ul{
	display: block;
	margin-top:10px;
	/*margin-left:0;*/
	font-size: 1.125rem;
}
nav ul li{
	margin:0;
	padding:10px;
}		
.contents{
	display: block;
}

footer ul li{
	display: block;
}






